<% if(sampleData.length > 0) { sampleData.forEach(function(data) { %>
<tr>
  <td><%= data.DateAndTime %></td>
  <td><%= data.RainDaily %></td>
  <td><%= data.RainHourly %></td>
  <td><%= data.Source %></td>
</tr>
<% }); } else { %>
<tr>
  <td colspan="5">No Data Found</td>
</tr>
<% } %>
